.modalContainer{
    display: flex;
    /* flex-wrap: wrap; */
    gap: 20px;
}
.image{
    width: 330px;
    height: 395px;
}
.right{
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     display: flex;
     flex-direction: column;
     gap: 12px;
}
.customAddBtn {
  width: 230px;
  padding:22px;
  font-weight: bold;
  background-color: green;
  color: rgb(252, 250, 250) !important;
  border: none !important;
  border-radius: none !important;
  cursor: pointer;
  font-size: 17px;
  margin-top: 20px;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   transition: all 0.3s ease-in;
}
.customAddBtn:hover{
  background-color: black !important;
}

/* copyyyyyyyyyyyy */
.sizeBox {
  display: flex;
  align-items: center;
  gap: 10px;
}
.card{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
  gap: 13px;  
}
.card p{
  font-family:'Libre Baskerville', serif;
  font-size: 18px;
  font-weight: bold;
  color: rgb(41, 41, 41);
  position: relative;
}
.card p::before{
  content: "";
  position: absolute;
  top: 10px;
  left: -147px;
  width: 60%;
  height: 1px;
  background-color: rgb(228, 226, 226);
}
.card p::after{
  content: "";
  position: absolute;
  top: 10px;
  right: -147px;
  width: 60%;
  height: 1px;
  background-color: rgb(228, 226, 226);
}
.customHr{
  background-color: rgb(228, 226, 226);
  height: 1px;
   border: none;
}
.sizeOption {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
  user-select: none;
  font-weight: 500;
  background-color: white;
  position: relative;
}

.activeSize {
  border: 2px solid green;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
  position: relative;
}

.disabled::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 5%;
  width: 95%;
  height: 1px;
  background-color: #999;
  transform: rotate(-50deg);
}
.priceBox {
  font-size: 25px;
}
.delivery{
  margin-top: -9px;
  font-size: 16px;
  font-weight: 500;
   color: rgb(139, 139, 139);
}

.oldPrice {
  text-decoration: line-through;
  color: gray;
  margin-right: 10px;
}
.priceLabel{
  font-size: 18px;
  font-weight: 600;
  /* color: #838383; */
}
.priceValue{
  font-size: 16px;
  margin-left: 5px;
  font-weight: 500;
  color: #9c9c9c;
  color: green;
}
.sizeLabel{
   font-size: 18px;
  font-weight: 600;
}
.newPrice {
  font-weight: 500;
  color:#2a7d2e
}
.name{
  margin-top: 10px;
  margin-bottom: 0;
}
.name{
  font-family: 'Libre Baskerville', serif;
  font-weight: 500;
  font-size: 24px;
}
.des{
   font-size: 16px;
     font-weight: 500;
     color: rgb(158, 158, 158);
}
.inf{
   font-size: 16px;
    font-weight: 500;
     color: rgb(95, 95, 95);
}
.iftIt{
   color: rgb(158, 158, 158);
}
.errorText {
  color: red;
  font-weight: 600;
  animation-name: shake;
  /* animation: shake 0.4s ease; */
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}
@media(max-width:660px){
  .modalContainer{
    flex-wrap: wrap;
    margin: 0 10px;
    justify-content: center;
  }
}
