.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 85px;
  padding: 0px 20px;
  position: fixed;
  top: 0;
  z-index: 999;
  transition: background-color 0.3s ease;
  font-family: sans-serif;
  background-color: white;
  border-bottom: solid 1px rgb(238, 237, 237);
  /* sefeghdh */
  /* background-color: rgb(245, 247, 245); */
  /* background-color: rgb(240, 239, 239); */
  /* background-color: rgb(233, 232, 232); */
  /* background-color: #3f6b24;/ */
  /* color: white; */
   box-shadow: 0 2px 2px -2px #0505051a;
}
.logo{
    width: 160px;
}
.con{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.openuserbtn{
    display: flex;
    align-items: center;
    justify-content: center ;
    gap: 5px;
    width: 120px;
    height: 40px;
    background-color: rgb(240, 23, 23);
    border-radius: 20px;
    color: white;
    transition: all 0.3s ease;
    font-weight: bold;
    cursor: pointer;
}
.openuserbtn:hover{
    background-color: red;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 50%;
    background-color: green;
    color: white;
    transition: all0.3s ease;
    cursor: pointer;
}
.home:hover{
    background-color: rgb(35, 180, 30);
    /* background-color: black; */
}