
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 30px 20px;
     background-color: rgb(233, 232, 232);
  }
  
.item {
    position: relative;
    flex: 1 1 45%;
    height: 350px;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 20px;
  }
  
  .imgWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
  }
  
  .imgWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
  }
  
  .item:hover img {
    transform: scale(1.1);
  }
  
  .content {
    position: relative;
    z-index: 1;
  }
  .content h2{
    font-weight: 500;
    font-size: 30px;
     font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
     
  }
  .content p{
    font-size: 15px;
    color: rgb(2, 56, 2);
      font-family: 'Libre Baskerville', serif;

  }
  
  /* .button {
    margin-top: 20px;
    padding: 15px 50px;
    border: 2px solid rgb(144, 179, 144);
    position: relative;
   overflow: hidden;
   z-index: 1;
   transition: all 0.3s ease-in;
   font-weight: 400;
  }

  .button::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translateY(100%);
    background-color: green;
    transition: all 0.4s ease;
  }
  .button:hover::before {
    transform: translateY(0);
  }
.button:hover{
    color: white;
}
   */
  @media (max-width: 768px) {
    .item {
      flex:1 1 100%;
    }
  }
  