.wrapper {
  height: 300px;
  overflow: hidden;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;

}

.container {
  width: max-content;
  display: flex;
  animation: scrollHorizontal 20s linear infinite;
  align-items: center;
  justify-content: space-evenly;
}
@keyframes scrollHorizontal {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.flowerLogo {
  padding: 40px;
  width: 300px;
  cursor: pointer;
}
.flowerLogo:hover {
  filter: grayscale(100%) brightness(50%) contrast(120%);
  transition: filter 0.3s ease;
}

@media (max-width: 1214px) {
  .flowerLogo:nth-of-type(4) {
    display: none;
  }
}

@media (max-width: 900px) {
  .flowerLogo:nth-of-type(3) {
    display: none;
  }
}
@media (max-width: 600px) {
  .flowerLogo:nth-of-type(2) {
    display: none;
  }
}
