.container{
    display: flex;
    padding: 40px 50px;
    gap: 30px;
    justify-content: center;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      flex-wrap: wrap;
}
.left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: solid 1px rgb(218, 216, 216);
    padding: 30px;
    background-color: rgb(255, 255, 254);
}
.containerItem{
    display: flex;
    gap: 25px;
}
.empty{
    font-weight: bold;
    color: gray;
    font-size: 18px;
}
.inf{
    display: flex;
    gap: 19px;
    position: relative;
}

.img{
    width: 130px;
    height: 150px;
}
.infItem{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 3px;
}
.hrInf{
    display: flex;
    flex-direction: column;
    gap: 15px;

}
.hr{
    background-color: gainsboro;
    height: 1px;
    margin-top: 18px;
    border: none;
}
.name{
    width: 180px;
    font-size: 15px;
   font-weight: 500;
   color: rgb(68, 67, 67);
}
.quantity{
    display: flex;
    margin-top: 3px;
}
.quanItem{
    border: solid 1px gainsboro;
    padding: 11px 15px;
}
.quanBtn{
    display: flex;
    flex-direction: column;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px gainsboro;
    padding: 0px 5px;
    cursor: pointer;
}
.price{
    color: green;
    margin-top: 12px;
    font-weight: 500;
    font-size: 20px;
}
.sizeSpan{
    color: rgb(134, 134, 134);
}
.icon{
    margin-top: 12px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.icon:hover{
    color: green;
}
.right{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
   
}
.rightCard{
  /* border: solid 1px gainsboro; */
 padding: 30px;
  background-color:rgb(243, 243, 243);
 display: flex;
 gap: 10px;
 flex-direction: column;
 width: 100%;
}
.tot{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.items{
    font-weight:500;
    font-size: 18px;
    color: rgb(82, 81, 81);
}
.Tott{
    font-weight: bold;
    font-size: 20px;
    color: green;
}
.lineTh{
    text-decoration:line-through;
     margin-right:8px;
     color: rgb(71, 71, 71);
}
.promHave{
    color: gray;
}
.yekpri{
    color: "green";
   font-weight: bold;
}
.total{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.promo{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
}
.prom{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.promoItem{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 5px;
    align-items: center;
}
.input{
   width: 100%;
   padding: 13px;
   border:solid 1px gainsboro;
}
.input:focus{
    border: none;
}
.add{
    background-color: green;
    padding: 10px 15px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}
.add:hover{
    background-color: black;
}
.texting{
    font-weight: 500;
    color: gray;
    font-size: 14px;
    margin-left: 3px;
}
.sumfif{
    color: green;
}
.checkBtn{
    background-color: rgb(14, 129, 14);
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}
.checkBtn:hover{
    background-color: black;
}
.hrr{
    background-color: gainsboro;
    height: 1px;
    border: none;
    margin-top: 10px;
}
.oPrice{
    color: green;
    font-size: 18px;
    font-weight: 500;
}
.pPrice{
    color: rgb(77, 76, 76);
    margin-right: 8px;
    font-weight: 400;
    text-decoration: line-through;
}

.summaryRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.sizeDiv{
    display: flex;
    gap: 16px;
    justify-content: center;
}
.totalSummary {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
@media (max-width: 1046px) {
  .container {
    padding: 30px 20px;
  }

  .left {
    padding: 20px;
    width: 360px;
  }

  .right {
    width: 360px;
  }

  .containerItem {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
  }
  .icon{
    position: absolute;
    right: 6px;
    top: -5px;
  }

  .inf {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .img {
    width: 100px;
    height: auto;
  }

  .name {
    width: auto;
  }

  .quantity {
    justify-content: center;
  }
}
