 .container {
  max-width: 700px;
  padding: 30px 30px 40px 30px;
  /* background-color: #fff; */
  border-radius: 12px;
  /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08); */
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.title {
  font-size: 25px;
  font-weight: 600;
  color: #1d2123;
  margin-bottom: 10px;
  /* text-align: center; */
}

.nameInf {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex: 1;
}

.inputGroup label {
  font-size: 15px;
  color: #444;
  font-weight: 500;
}

.input {
  padding: 13px 16px;
  border: 1px solid #ccc;
  /* border-radius: 8px; */
  font-size: 14px;
  outline: none;
  transition: border 0.2s ease;
}

.input:focus {
  border-color: #081f14;
}

.button {
  background-color: green;
  margin-top: 12px;
  color: white;
  padding: 13px 12px;
  border: none;
  font-size: 16px;
  /* border-radius: 8px; */
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:disabled {
  background-color: #b7c7c3;
  cursor: not-allowed;
}

.button:hover:not(:disabled) {
  background-color: rgb(80, 79, 79);
}
