.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 100px;
  margin-top: 100px;
  justify-content: center;
  flex-wrap: wrap;
  font-family: sans-serif;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.conInf{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.infItem{
    display: flex;
    width: 100%;
    background-color:rgb(243, 243, 243);
    padding: 13px 18px;
    border-top: solid 3px #1e85be;
    align-items: center;
    color: rgb(85, 85, 85);
}
.kalicon{
    margin-right: 5px;
    color: #1e85be;
}
.down{
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}
.star{
  color: red;
  font-size: 20px;
}
.leftCon, .rightCon {
  padding: 0 30px 30px 30px;
  background: #fff;
  min-width: 320px;
  width: 100%;
  max-width: 600px;
}
.rightCon {
    background-color:rgb(243, 243, 243);
    height: 400px;
    padding: 30px;
}
h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}
.rowTwo {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.rowTwo .inputGroup {
  flex: 1;
  min-width: 150px;
}

.fullWidth {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.fullWidth label {
  font-weight: 500;
  color: #333333;
  margin-bottom: 6px;
}

.fullWidth input,
.selectInput {
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.selectInput {
  background-color: #fff;
}


.form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.inputGroup label {
  margin-bottom: 6px;
  font-weight: 500;
}

.inputGroup input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.error {
  color: red;
  font-size: 13px;
  margin-top: 3px;
}

.submitBtn {
  background-color: #434343;
  color: white;
  padding: 15px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.submitBtn:hover {
  background-color: darkgreen;
}

.summary {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.row {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #555;
}

.totalRow {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 18px;
  color: #222;
}

.divider {
  border: none;
  height: 1px;
  background-color: #ccc;
}

.payBtn {
  background-color: #0b8e0b;
  color: white;
  padding: 14px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.3s;
}

.payBtn:hover {
  background-color: #0a730a;
}
