.container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 80px 120px;
  border: 1px solid #eee;
  /* background: #fff; */
  justify-content: center;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.infoBox {
  flex: 1;
  min-width: 250px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 18px;
  border-right: 1px solid #ddd;
  padding-right: 30px;
  color: rgb(65, 64, 64);
  font-weight: 500;
}
.icon{
    color: green;
    font-weight: bold;
    font-size: 28px;
}
.infoBox h3 {
  font-size: 18px;
  background: #f5f5f5;
  padding: 15px;
  margin-bottom: 20px;
  border-left: 4px solid #2c7c0c;
}
.infLeft{
  display: flex;
  gap: 12px;
}


.formBox {
  flex: 2;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
    border: 1px solid #ececec;
  /* box-shadow: rgba(190, 190, 190, 0.1) 0px 10px 50px; */
  border: solid 1px gainsboro;
  background-color: white;
  padding: 50px 70px;
}
.formGr{
  display: flex;
  flex-direction: column;
}
.formGroup {
  display: flex;
  gap: 20px;
}


.labels{
  display: flex;
  align-items: center;
  width: 120px;
  font-weight: 500;
  color: rgb(53, 52, 52);
}
.labelAgree{
  font-weight: 500;
  color: rgb(58, 57, 57);
}

.formGroup input,
.formGroup select,
.formGroup textarea {
  padding: 15px 10px;
  width: 70%;
  border: none;
  font-size: 14px;
    background-color:rgb(243, 243, 243);
}
.formGroup input:focus,
.formGroup select:focus,
.formGroup textarea:focus {
  outline: none;
  border: 1px solid #2c7c0c;
  
}

.error {
  font-size: 14px;
  color: rgb(240, 23, 23);
  margin-left: 142px;
}
.formGroup input::placeholder,
.formGroup textarea::placeholder,
.formGroup select::placeholder {
  color: #888787;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  font-weight: 400;
}


.fileInputWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkboxWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

.sendBtn {
  width: 120px;
  background: #098113;
  color: white;
  padding: 10px;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.sendBtn:hover {
  background: #5f935f;
}
/* Əlavə et: */
@media (max-width:1100px) {
  .container {
    padding: 40px 30px;
  }
}
@media (max-width:970px) {
  .container {
    padding: 40px 10px;
    gap: 10px;
  }
}

@media (max-width: 853px) {
  .container {
    flex-direction: column;
    padding: 40px 90px;
    gap: 20px;
  }

  .infoBox {
    border-right: none;
    border-bottom: 1px solid #ddd;
    padding-right: 0;
    padding-bottom: 20px;
    max-width: 100%;
  }
.error {
  margin-left: 8px;
}
  .formBox {
    padding: 30px 20px;
  }

  .formGroup {
    flex-direction: column;
  }

  .labels {
    width: 100%;
    margin-bottom: 5px;
  }

  .formGroup input,
  .formGroup select,
  .formGroup textarea {
    width: 100%;
  }

  .sendBtn {
    width: 100%;
  }
}
@media (max-width: 510px) {
  .container {
    flex-direction: column;
    padding: 40px 20px;
    gap: 20px;
  }}

/* Xəta mesajları üçün stil */

