
.mainCon{
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 830px;
  margin: 0 30px;
  padding: 100px 0;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.heading {
  text-align: center;
  margin-bottom: 1.5rem;
}

.con {
  /* background-color: #fff; */
  background-color: var(--auth-bg);
  padding: 50px 80px;
  border: 1px solid #ececec;
  box-shadow: rgba(158, 157, 157, 0.1) 0px 10px 50px;
}

.auth {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.formRow {
  display: flex;
  align-items: flex-start;
  gap:30px;
  position: relative;
}
.passwordToggle{
  position: absolute;
  right: 0;
  top: 1px;
  background-color: #2c7c0c;
  width: 57px;
  font-size: 22px;
  height: 44px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.formRow label {
  width: 90px;
  font-weight: 500;
  margin-top: 8px;
    text-align: right;
  justify-self: start;
}

.inputGroup {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.inputGroup input {
  padding: 13px 12px;
  font-size: 16px;
  /* border: 1px solid #eeeded; */
  /* border-radius: 4px; */
  background-color: rgb(247, 246, 246);
  border: none;
  
}
.inputGroup input:focus{
   outline: none;
  border: 1px solid #2c7c0c;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 4px;
  
}
input::placeholder {
  color: gray;
  font-size: 14px;
  opacity: 1; /* istəsən daha açıq göstərə bilərsən */
}

.important {
  color: red;
}

.generalError {
  color: red;
  font-weight: bold;
  text-align: center;
}

.button {
  width: 85%;
  padding: 13px 0;
  background-color: green;
  color: white;
  border: none;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  /* width: fit-content; */
  align-self: center;
  transition: all 0.3s ease-in;
}
.button:hover{
    background-color:black;
}

.redirect {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: rgb(107, 107, 107);
}
.link{
  text-decoration: none;
  color: green;
  font-weight: bold;
  transition: all 0.3s ease;
}
.link:hover{
  color: rgb(153, 152, 152);
}
/* @media(max-width:920px){
  .button{
    width: 77%;
  }
} */
@media(max-width:770px){
  .con{
    padding: 100px 30px;
  }
}

@media(max-width:660px){
 
  .con{
    padding: 100px 14px;
  }
}
@media(max-width:450px){
   .container{
    margin: 0 5px;
  }
  .button{
    width: 69%;
  }
}