.mainCon{
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 700px;
  margin: 0 30px;
  padding: 100px 0;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.heading {
  text-align: center;
  margin-bottom: 1.5rem;
}
.auth{
      padding: 50px 80px;
  border: 1px solid #ececec;
  display: flex;
  /* justify-content: center; */
 
   border: 1px solid #ececec;
  box-shadow: rgba(158, 157, 157, 0.1) 0px 10px 50px;
  /* align-items: center;
  justify-content: center; */
  flex-direction: column;
  gap: 20px;
}
.con {
  background-color: #fff;
  padding: 50px 80px;
  border: 1px solid #ececec;
  /* box-shadow: rgba(158, 157, 157, 0.1) 0px 10px 50px; */
}
.formRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  position: relative;
}

.formRow label {
  width: 80px;
  font-weight: 500;
  text-align: end;
}

.passwordToggle{
  position: absolute;
  right: 0;
  top: 1px;
  background-color: #2c7c0c;
  width: 55px;
  font-size: 20px;
  height: 43px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.input {
  flex: 1;
  padding: 13px 12px;
  font-size: 16px;
  background-color: rgb(247, 246, 246);
  /* border: 1px solid #eeeded; */
  border: none;
}
.input:focus{
   outline: none;
  border: 1px solid #2c7c0c;
}
.redirect {
  text-align: center;
  margin-top: 1rem;
  font-size: 16px;
  font-weight: 400;
  color: rgb(107, 107, 107);
}
.link{
  text-decoration: none;
  color: green;
  font-weight: bold;
  transition: all 0.3s ease;
}
.link:hover{
  color: rgb(153, 152, 152);
}

.button {
  /* padding: 13px 200px;
  margin-left: 100px; */
  width: 84%;
  padding: 15px;
  font-size: 16px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  /* width: fit-content; */
  align-self: center;
  transition: all 0.3s ease-in;
}
.button:hover{
    background-color:black;
}
.title{
    text-align: center;
    margin-bottom: 10px;
}

.error {
  color: red;
}

.important{
     color: red;
}
@media(max-width:660px){
  .auth{
    padding: 50px 20px;
  }
}
@media(max-width:450px){
  .container{
    margin: 0 10px;
  }
  .button{
    width: 72%;
  }
  .redirect{
    margin-top: 20px;
    font-size: 14px;
  }
}