:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --card-bg: #f2f2f2;
  --navbar-bg: #e4e4e4;
}

/* DARK MODE üçün */
.dark-mode {
  --bg-color: #121212;
  --text-color: #ffffff;
  --card-bg: #1e1e1e;
  --navbar-bg: #2a2a2a;
}
