
.container {
    width: 100%;
    min-height: 500px;
    padding: 80px 0;
    /* margin-top: 50px; */
    background-image: url('./assets/bg-testimonial.webp');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
    
  }
  
  
  .title {
    font-size: 30px;
    color: green;
  }
  
  .card {
    max-width: 800px;
    border-radius: 20px;
   padding: 29px;
    margin: 0 auto;
    display: flex;
  flex-direction: column;
  gap: 15px;
    position: relative;
  }
  
  .message {
    font-size: 20px;
    color: #333;
    padding: 30px;
    background: white;
    border-radius: 40px 0 40px 0;
    border: solid 1px rgb(231, 230, 230);
    position: relative;
  }
  
  .message::before {
    content: "";
    width: 23px;
    height: 23px;
   background-color: white;
    border-bottom: solid 1px rgb(231, 230, 230);
    border-right: solid 1px rgb(231, 230, 230);
    transform: rotate(45deg);
    position: absolute;
   bottom: -11px;
   z-index: 2;
   left: 49%;
  }
  
  .user {
   display: flex;
   flex-direction: column;
   gap: 5px;
   align-items: center;
  }
  
  .user img {
    width: 100px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .user h4 {
    color: green;
  }
  
  .user span {
    color: gray;
    font-size:14px;
  }
  .header{
    display: flex;
   align-items: center;
   justify-content: center;
  text-align: center;
  }
 .navWrapper{
    position: absolute;
    display: flex;
    font-size: 25px;
    cursor: pointer;
    gap: 7px;
    right: 300px;
    color: green;
    top: 66px;
    right: 15%;
 }
 @media(max-width:1286px){
  .container{
    background-size: cover;
  }
 }